*.o
Module_00/ex00/megaphone
.vscode/settings.json
Module_00/ex01/phonebook
Module_00/ex02/19920104_091532.log
*.log
Module_00/ex02/bank
Module_01/ex00/zombie_twins
Module_01/ex01/zombiesss
Module_01/ex02/brain
Module_01/ex03/war
Module_01/ex04/sedPRO
Module_01/ex05/harly
