*.o
Module_00/ex00/megaphone
.vscode/settings.json
Module_00/ex01/phonebook
Module_00/ex02/19920104_091532.log
*.log
Module_00/ex02/bank
Module_01/ex00/zombie_twins
Module_01/ex01/zombiesss
Module_01/ex02/brain
Module_01/ex03/war
Module_01/ex04/sedPRO
Module_01/ex05/harly
Module_01/ex06/harlFilter
Module_02/ex00/fixed
.DS_Store
Module_02/.DS_Store
Module_02/ex01/fixed_ex01
Module_02/ex02/fixed_ex02
Module_02/ex03/triangle_ex03
Module_03/ex00/claptrap
Module_03/ex01/scavtrap
Module_03/ex02/fragtrap
Module_03/ex03/diamondtrap
Module_04/ex00/zoo
Module_04/ex01/smart_zoo
Module_04/ex02/abstract_zoo
Module_04/ex04/hogwarts
Module_04/ex03/hogwarts
Module_04/ex03/hogwarts
Module_05/ex02/maggots_advanced
Module_06/ex00/converter
Module_06/ex02/identifier
Module_06/ex00/converter
Module_06/ex00/converter
Module_07/ex02/array
Module_05/ex00/bureaucrat
Module_05/ex01/maggots
Module_05/ex03/interns
Module_05/ex03/ShrubberyCreationForm_shrubbery
Module_06/ex00/converter
Module_06/ex01/serializer
.gitignore
Module_08/ex00/finder
Module_08/ex01/spanner
